################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Laboratorio3/.vs/Laboratorio3/FileContentIndex
