################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Laboratorio2/.vs/Laboratorio2
/Laboratorio5/.vs/Laboratorio5
/Laboratorio2/.vs/ProjectEvaluation
/Laboratorio5/.vs/ProjectEvaluation
/Laboratorio6/.vs/Laboratorio6
/Laboratorio6/.vs/ProjectEvaluation
/Laboratorio7/.vs/Laboratorio7
/Laboratorio7/.vs/ProjectEvaluation
/Laboratorio8/.vs/Laboratorio8
/Laboratorio8/.vs/ProjectEvaluation
/Laboratorio9/.vs
/Parcial1
/Laboratorio10/.vs/Laboratorio10
/.vs
/Laboratorio11/.vs/Laboratorio11
/Laboratorio12/.vs/Laboratorio12
/Laboratorio13/.vs/Laboratorio13
/Laboratorio14/.vs/Laboratorio14
/Laboratorio15/.vs/Laboratorio15
/Laboratorio15/Laboratorio151/.vs
/Laboratorio16/.vs/Laboratorio16
